*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*
body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;

}
*/
.header {
    width: 100%;
    height:10hv;
    padding: 0 10;
    background: rgb(255, 255, 255);

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

}
nav img {
max-width: 5%;

}
h2{
    color: rgb(0, 42, 228);
    margin: 20px;
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 30px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(165, 158, 158);
}
.text-box {
    margin: 40px    ;
    margin-top: 130px;
    max-width: 600px;
}
.text-box h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color:rgb(15, 20, 46);
}
.text-box a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 20, 46);
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}
.abouttext{
    text-align: center;

}
.abouttext h2 {
    color: rgb(0, 42, 228);
}
.abouttext h2 {
    color: rgb(20, 50, 182);
}
.abouttext p {
    color: rgb(15, 20, 46);;
}
.abouttext img {
    background-position: center;
    width: 600px;
    height: 400px;
}